.menu {
    background-color: rgb(40, 95, 190);
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}

a:link {
    font-weight: bold;
    color: #e9e500;
    text-decoration: none;
    padding: 0.5rem;
}

a:visited {
    color: #e9e500;
}

a:hover {
    color:rgb(40, 95, 190);
    background-color:#dad600;;
}

.menu a.is_current{
    color:#CC921A;
    background-color:#148045;
}

.table a.is_current{
    color:#CC921A;
    background-color:#148045;
}

.table ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
}
.table {
    background-color: rgb(40, 95, 190);
}
