.container{
    margin: auto;
    width: 90%;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row:1;
    justify-self: center;
}

.menu{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row:2;
}

.table{
    grid-column: 1;
    grid-row:3;
    justify-self: center;
}


article{
    grid-column: 2;
    grid-row:3;
    margin-left: 10px;
}
section{
    grid-column: 3;
    grid-row:3;
}
.table li{
    padding-bottom: 12px;
    justify-self: center;
}
.table ul{
    justify-self: center;
}

